
body {
    background-position: top;
    margin:0 auto;
    text-align: center;
    width: 1280px;
        }

/*@media all and (max-width:1910) { #media-queries-1 {
 nav {
    margin-left: 1px;
    }
}*/
