
 /*
h1 { font-weight: normal; }
h2 { font-weight: bold; }
h3 { font-style: italic; font-weight: normal; }
h4 { font-style: italic; font-weight: bold; }
jmeno, prijmeni, prezdivka, pozice, tym, obrazek
 
/*
a { color: #ff0000; }
a:hover { color: #00ff00; }
*/
.menu_link_muzi, .menu_link_mladez, .menu_link_hasici, .menu_link_historie, .ostatni {
    -webkit-transition-property: background;
    -webkit-transition-timing-function: linear;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-transition: all .2s linear;
    -moz-transition-property: background;
    -moz-transition-timing-function: linear;
    -moz-animation-timing-function: ease-in-out;
    -moz-transition: all .2s linear;
    } 
#menu .active {
    background: red !important;
    }
.menu_link_muzi {
    }/*nepotrebne*/
.menu_link_muzi:hover {
    background: rgb(158,22,116);
    }
.menu_link_mladez:hover {
    background: rgb(151,193,19);
    }
.menu_link_hasici:hover {
    background: rgb(204, 194, 19);
    }
.menu_link_historie:hover {
    background: rgb(94, 31, 140);
    }
.ostatni:hover {
    background: rgb(56, 38, 144);
    }
#menu {
    background: rgba(58,40,15,0.8);
    }
.has {
    display: block;
    background-image: url("/images/menu/hasici/hasici.png");
    background-repeat: no-repeat;
    background-position: center top;
    -webkit-transition-property: width;
    -webkit-transition-duration: 0.1s ;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-transition-timing-function: linear; 
    width: 61px;
    height: 49px;
    }

.has:hover {
    background-image: url("/images/menu/hasici/hasici_rozbalene.jpeg");
    background-repeat: no-repeat;
    width: 200px;
    background-position: center top;
    } 
html {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    }
.fotograf {
    margin-bottom: 20px;
    }
.hidden{
    display: none;
    }
pre {
    white-space: -pre-wrap;
    white-space: pre-wrap;
    }
.hasici, .mladez {
    margin: 5px;
    width: 150px;
    height: 150px;
    display: block;
    float: left;
    }
.clen_kolektiv { 
    float: left;
    width: 150px;
    height: 200px;
    margin-right: 10px;
    }
    
.clen {
    float: left;
    background: rgba(58, 40, 15, 0.8); 
    width: 300px;
    padding: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
    box-shadow: black 4px 6px 20px;
    display: block;
    }    
.title, .title a {
    text-decoration: none;
    font-weight: bold;
}

.dummy {
   visibility: hidden;
   margin-bottom: 5px;
   height: 48px;
   } 
.commentlink {
   margin-top: 2px;
   }
#cform {
    background: rgba(58, 40, 15, 0.8); 
    margin-top: 5px;
    width: 650px;
    }

#comments {
    margin-top: 5px;
}    

.title { 
    margin-top: 5px;
    font-size: 120%;
   
    }
    
.title a:visited,a {
    color:white;
    }
#content_galerie {
    float: left; 
    display: block;
    width: 650px;
    background: rgba(58, 40, 15, 0.8);
    padding: 20px;
    overflow: hidden;
    box-shadow: black 4px 6px 20px;
    }
#content_galerie a{
    font-size: 0%;
    }
    
.co {
    float: left; 
    background: rgba(58, 40, 15, 0.54);
    min-height: 50px;    
    width: 500px;
    margin-bottom: 5px;
    
    }


#menu a{
    float: left;
    height: 100%; 
    padding-top: 17px;
    padding-bottom: 15px;
    color: white;
    text-decoration: none;
    margin-bottom: 5px;
}

#menu li {
    height: 100%;
    }



#content_sekce { 
    width: 650px;
    background: rgba(58, 40, 15, 0.8); 
    margin-right: 300px;
    margin-bottom: 10px;
    padding: 20px;
    text-align: left;
    overflow: hidden;
    box-shadow: black 4px 6px 20px;
}

#menu {
    width: 690px;
    font-family: champagne;
  /*  margin-top: 10px; */
    margin-left: 168px;
    margin-right: 300px;
    height: 51px;
    display: block;
    box-shadow: black 4px 6px 20px;
}
footer {
    width: 500px ;
    height: 50px;
    margin-top: 10px; 
    margin-left: 400px;
    margin-right: 400px;
    text-align: center;
    }
#player {
    background: rgba(58, 40, 15, 0.8); 
    padding: 20px;
    z-index: -5px; 
    box-shadow: black 4px 6px 20px;
    }

.logo {
    /*margin-right: 300px;*/
    margin-right: 80%;
    margin-left: 20%;
    width: 506px;
    height: 182px;
    margin-top: 15px;
   } 
body {
    position: relative;
    color: white;
    width: 1280px; /*1280px */
    text-align: center;/* for IE */
	 /* for the rest */
    background-image: url("http://sdhsvinov.cz/static/pozadi.jpg");
    background-repeat: no-repeat;
    background-position: top;
    margin: 0 auto;
    background-color: #524a3f;
    font-family: Arial,Helvetica,sans-serif;
    line-height: 120%;
    display: block;
    height: 100%; 
    background-attachment: fixed;
    padding: 0 auto;
}

#post_l {
    background: rgba(58, 40, 15, 0.8); 
    margin-bottom: 20px;
    padding: 20px;
    width: 650px;
    box-shadow: black 4px 6px 20px;
    }

.fb-comments {
    margin-top: 60px;
  
    }

#post {
    background: rgba(58, 40, 15, 0.8); 
    margin-bottom: 10px;
    box-shadow: black 4px 6px 20px; 
  /*  margin-right: 700px; */
   
    width: 650px;
    position: relative;
    float: left;
    padding: 20px;
   
}
.time{
     margin-bottom: 20px;
     font-size: 80%;
     }
.title {
     color: white;
    }

#nav_cont {
    float: left;
    margin-left: 18px;
    margin-right: 400px;
}


#Fotograf{
    margin: 5px 5px 5px 5px;
    padding-bottom: 10px;
    float: left;
    }

#content {
    overflow: hidden;
    margin-left: 150px;
    text-align: left;
    height: 100%;
}

ul {
    margin: 0px;
    }

nav {
    margin-top: -72px;
    float: left;
    position: fixed; 
    z-index: 1;
    text-align: left;
    /*margin-left: 1px;*/
    }
nav a {
    }
a:active {
    outline: none;
    }

a:focus {
    -moz-outline-style: none;
    }

#preload1 {
        background: url(http://sdhsvinov.cz/static/images/menu/home/HOME1.png) no-repeat -9999px -9999px;
}

#preload2 {
        background: url(http://sdhsvinov.cz/static/images/menu/hasici/hasici_rozbalene.png) no-repeat -9999px -9999px;
}
 
 #preload3 {
        background: url(http://sdhsvinov.cz/static/images/menu/mladez/mladez_rozbalene.png) no-repeat -9999px -9999px;
}
#preload4 {
        background: url(http://sdhsvinov.cz/static/images/menu/muzi/muzi_rozbalene.png) no-repeat -9999px -9999px;
}
#preload5 {
        background: url(http://sdhsvinov.cz/static/images/menu/historie/historie_rozbalene.png) no-repeat -9999px -9999px;
}
#preload6 {
        background: url('http://sdhsvinov.cz/static/images/menu/ostatni/OSTATN.png') no-repeat -9999px -9999px;
} 
