<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}SDH Svinov{% endblock %}</title>
    <link rel="SHORTCUT ICON" href="http://www.sdhsvinov.cz/static/css/icon.png" />
   
    <link href="/static/css/reset.css"  rel="stylesheet" type="text/css" media="all" /> 
    <link href="/static/css/style.css"  rel="stylesheet" type="text/css" media="all" /> 
    <link href="/static/css/lightbox.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/static/css/s.css" media="screen and (min-width: 1900px)" />
    <link rel="stylesheet" type="text/css" href="/static/css/style_1024.css" media="screen and (max-width: 1200px)" />
    <link rel="stylesheet" type="text/css" href="/static/css/style_bet.css" media="screen and (min-width: 1500px) 
    and (max-width: 1850px)" />

    <script src="/static/javascript/scripts.js" type="text/javascript"></script>

    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.sdhsvinov.cz" />
    <meta property="og:image" content="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-snc7/403500_10151247112273769_2107145660_n.jpg" />
    <meta property="og:site_name" content="SDH Svinov" />
    <meta property="fb:admins" content="100000119014879" />
    <script src="/static/javascript/jQuery.js"></script>
    <script src="/static/javascript/jquery.cookies.2.2.0.js"></script>
    <script src="/static/javascript/scripts.js"></script>
    <script src="/static/javascript/lightbox.js"></script>
    <script src="/static/javascript/tinymce/jscripts/tiny_mce/tiny_mce.js"></script>

    <meta name="description" 
    content="{% block description %}Stránky SDH Svinov{% endblock %}"/>
    
    
    <style type="text/css">
@font-face {font-family: champagne;
        src: url('/static/css/font/champag/Champagne & Limousines Bold.ttf'),
             url('/static/css/font/champag/Champagne__Limousines_Bold.eot');
     }
     </style>
     </head>

<body>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/cs_CZ/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
   window.fbAsyncInit = function() {
  FB.init({
    appId      : 'blog', // App ID
    channelUrl : '/channel.html', // Channel File
    status     : true, // check login status
    cookie     : true, // enable cookies to allow the server to access the session
    xfbml      : true  // parse XFBML
  });
};
  </script>

  <img class="logo" alt="SDH Svinov" src="/static/css/pozadi/logo_web.png" />

  
     {% block nav-global %}
       <a href="#" class="dummy">dummy move</a>   
     {% endblock %}
    <div id="nav_cont">
        
     <nav>
     <ul>
       <li><a href="/"><img src="/static/images/menu/home/HOME1.png" class="menu_home" alt="5" height="69" width="61" alt="Chyba" 
          onMouseOver="change_img('nav_cont', '/static/images/menu/home/HOME.png', '0', '61')" 
          onMouseOut="change_img('nav_cont', '/static/images/menu/home/HOME1.png', '0', '61')" /></a></li>
                
       <li><a href="/0/0"><img src="/static/images/menu/hasici/hasici.png" class="menu_hasici" alt="5" height="49" width="61" alt="Chyba"
          onMouseOver="change_img('nav_cont', '/static/images/menu/hasici/hasici_rozbalene.jpeg', '1', '200')" 
          onMouseOut="change_img('nav_cont', '/static/images/menu/hasici/hasici.png', '1', '61')" /></a></li>
                
       <li><a href="/1/0"><img src="/static/images/menu/mladez/mladez.png" class="menu_mladez" alt="5" height="49" width="61" alt="Chyba"
          onMouseOver="change_img('nav_cont', '/static/images/menu/mladez/mladez_rozbalene.png', '2', '228')" 
          onMouseOut="change_img('nav_cont', '/static/images/menu/mladez/mladez.png', '2', '61')"/></a></li>
                
       <li><a href="/2/0"><img src="/static/images/menu/muzi/muzi.png" class="menu_muzi" alt="5" height="49" width="61" 
          onMouseOver="change_img('nav_cont', '/static/images/menu/muzi/muzi_rozbalene.png', '3', '171')" 
          onMouseOut="change_img('nav_cont', '/static/images/menu/muzi/muzi.png', '3', '61')" /></a></li>
                
       <li><a href="/3/0"><img src="/static/images/menu/historie/historie.png" class="menu_historie" alt="5" height="49" width="61" alt="Chyba"
          onMouseOver="change_img('nav_cont', '/static/images/menu/historie/historie_rozbalene.png', '4', '240')" 
          onMouseOut="change_img('nav_cont', '/static/images/menu/historie/historie.png', '4', '61')"  /></a></li>
                
       <li><a href="/4/0"><img src="/static/images/menu/ostatni/OSTATN1.png" class="menu_odkazy" alt="5" height="49" width="61" alt="Chyba"
          onMouseOver="change_img('nav_cont', '/static/images/menu/ostatni/OSTATN.png', '5', '244')" 
          onMouseOut="change_img('nav_cont', '/static/images/menu/ostatni/OSTATN1.png', '5', '61')" /></a></li>
        </ul>
                
     </nav>
          
     <div id="content">
       {% block content %}{% endblock %}
     </div>
   </div>
   <footer>
   <div class="fb-like" data-href="http://www.sdhsvinov.cz"
        data-send="false" data-width="450" data-show-faces="true" data-font="arial"></div>
   </footer>
   <img class=hidden src='/static/images/menu/historie/historie_rozbalene.png' />
   <img class=hidden src='/static/images/menu/ostatni/OSTATN.png' />
   <img class=hidden src='/static/images/menu/muzi/muzi.png' />
   <img class=hidden src='/static/images/menu/mladez/mladez_rozbalene.png' />
   <img class=hidden src='/static/images/menu/mladez/hasici_rozbalene.png' />
   <img class=hidden src='/static/images/menu/home/HOME.png' />

</body>
</html>
