{% extends 'zaklad.html' %}

{% block content %}
    
{% if clenove %}
         <ul>
         {% for clen in clenove %}

            <li class="clen">
                <img src="/media/{{ clen.obrazek }}" class="clen_kolektiv"></img>
                <table>
                    <tr><td>Jméno: {{ clen.jmeno }}</td></tr>
                    <tr><td>Příjmení: {{ clen.prijmeni }}</td></tr>
                    <tr><td>Přezdívka: {{ clen.prezdivka }}</td></tr>
                    <tr><td>Pozice: {{ clen.pozice }}</td></tr>
                    <tr><td>Tým: {{ clen.tym }}</td></tr>
                </table>
            </li>
            {% endfor %}
         <ul>
    {% endif %}
{% endblock %}
