{% extends 'zaklad.html' %}

{% block content %}
    <div id ="content_sekce">
 
    {% if Fotografove %}
        {% for Fotograf in Fotografove %}
            <div id ="Fotograf">
                <a href ="{{ Fotograf.url }}"><img class="fotograf" src="/media/{{ Fotograf.obrazek }}"  width="150px" height="150px"
                onMouseOver="change1('{{ Fotograf.jmeno }}', '/media/{{ Fotograf.obrazek_hover }}')" 
                onMouseOut="change1('{{ Fotograf.jmeno }}', '/media/{{ Fotograf.obrazek}}')" /></a>
            </div>
            <img class=hidden src="/media/{{ Fotograf.obrazek_hover }}" />
         {% endfor %}
    {% endif %}
    </div>
    
{% endblock %}  
